@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

body {
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  color: rgba(0, 0, 0, 0.85);
  font-family: "Roboto Slab", serif;
}

.container-el {
  width: 320px;
  margin: 0 auto;
}

#flashcard-el {
  background: #ffebbe;
  border-radius: 15px;
  display: block;
  float: left;
  margin: 10px 1%;
  max-width: 320px;
  padding-bottom: 25px;
  width: 98%;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.row-el {
  display: flex;
  justify-content: flex-end;
  margin: 0 2.5% 0px;
  width: 95%;
}

span#a,
span#b {
  font-size: 12rem;
  line-height: 11rem;
  padding-right: 10%;
  text-align: center;
  width: 60%;
  margin: 10px 20px 20px 10px;
}

span#a {
  display: block;
}

span#b {
  display: inline-block;
}

span#x {
  align-self: flex-end;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  float: left;
  font-size: 5rem;
  padding-left: 10%;
  width: 20%;
}

#divider-el {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  display: block;
  height: 10px;
  margin: 0 auto 5px;
  width: 90%;
}

.row-el2 {
  display: block;
  margin: 0 5% 0px;
  width: 90%;
}

.square-el {
  border: #ffebbe 2px solid;
  border-radius: 10px;
  cursor: pointer;
  background: #ffebbe;
  font-size: 3rem;
  width: 33.3333333%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.button-el {
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1.25rem;
  height: 30px;
  text-align: center;
  width: 100%;
}

.correct {
  color: #4254bc;
}

.again {
  background: #4254bc;
  border-radius: 5px;
  color: #ffebbe;
  padding: 4px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.incorrect {
  color: #db5151;
}

.selected {
  background: rgba(0, 0, 0, 0.85);
  color: #ffebbe;
}
